*.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.lof
main.log
main.lot
main.out
main.pdf
main.run.xml
main.synctex.gz
main.toc
*copy*
multipartite.bib
predistribution.bib
deepalloc.bib
swappingtrees.bib
swapping_defs.tex
*.ipynb
*.pptx


# ipsn
chapters/ipsn/cover.tex
chapters/ipsn/css.etc.tex
chapters/ipsn/data
chapters/ipsn/figures/data
chapters/ipsn/figures/power-vary-numintru
chapters/ipsn/figures/time-vary-numintru
chapters/ipsn/title.tex
chapters/ipsn/bibliography.bib
chapters/ipsn/new.bib
chapters/ipsn/ml.bib
chapters/ipsn/figures/proposal.png
chapters/ipsn/figures/proposal-2.png
chapters/ipsn/figures/system.png
chapters/ipsn/main.tex
chapters/ipsn/SAVE

# wowmom-pmc
chapters/wowmom-pmc/*.bst
chapters/wowmom-pmc/*.cls
chapters/wowmom-pmc/main.tex
chapters/wowmom-pmc/summary_change.tex
# chapters/wowmom-pmc/bib.bib

# icc
chapters/icc/IEEEtran.cls
chapters/icc/main.tex

#swappingtree
chapters/swappingtrees/DP-sp.tex
chapters/swappingtrees/iterative-qnr.tex
chapters/swappingtrees/lp-qnr.tex
chapters/swappingtrees/decoherence.tex
chapters/swappingtrees/figures/caleffi-relative.jpg
chapters/swappingtrees/figures/analytical_throttle.jpg
chapters/swappingtrees/figures/fidelity.jpg
chapters/swappingtrees/figures/hypergraph.jpg
chapters/swappingtrees/figures/line_extra2.jpg
chapters/swappingtrees/figures/QNR.jpg
chapters/swappingtrees/figures/runtime.jpg

